<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2011, Regione Emilia-Romagna, Italy Licensed under the 
	EUPL, Version 1.1 or - as soon they will be approved by the European Commission 
	- subsequent versions of the EUPL (the "Licence"); You may not use this work 
	except in compliance with the Licence. For convenience a plain text copy 
	of the English version of the Licence can be found in the file LICENCE.txt 
	in the top-level directory of this software distribution. You may obtain 
	a copy of the Licence in any of 22 European Languages at: http://www.osor.eu/eupl 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the Licence is distributed on an "AS IS" basis, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the Licence for 
	the specific language governing permissions and limitations under the Licence. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint id="dynamicServiceOdt"
		implementor="it.wego.dynamicodt.impl.DynamicOdtServiceImpl" address="/DynamicOdtService" />

</beans>

