.suap-sue-portlet #filtri-ricerca, .suap-sue-portlet #risultati-ricerca { padding-top: 10px; }

.suap-sue-portlet .data { width: 100px; }

.suap-sue-portlet .nonDisponibile { color: #EE1B22; font-weight: bold; }

.suap-sue-portlet .dato-catastale { margin-right: 3em; }