<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Context</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    -->
        <!-- auth-constraint goes here if you requre authentication -->
    <!--
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
    <servlet>
        <servlet-name>PdfConvert</servlet-name>
        <servlet-class>services.PdfConvert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProperties</servlet-name>
        <servlet-class>services.GetProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetModels</servlet-name>
        <servlet-class>services.GetModels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClientLastVersion</servlet-name>
        <servlet-class>services.GetClientLastVersion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeIndex</servlet-name>
        <servlet-class>services.MakeIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadRequiredFile</servlet-name>
        <servlet-class>services.DownloadRequiredFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadRequiredFiles</servlet-name>
        <servlet-class>services.DownloadRequiredFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>services.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciveSignedFile</servlet-name>
        <servlet-class>services.ReciveSignedFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveSignedFile</servlet-name>
        <servlet-class>services.ReceiveSignedFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCertificateValidityStatus</servlet-name>
        <servlet-class>services.CheckCertificateValidityStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifySignatures</servlet-name>
        <servlet-class>services.VerifySignatures</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfConvert</servlet-name>
        <url-pattern>/PdfConvert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProperties</servlet-name>
        <url-pattern>/GetProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetModels</servlet-name>
        <url-pattern>/GetModels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClientLastVersion</servlet-name>
        <url-pattern>/GetClientLastVersion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeIndex</servlet-name>
        <url-pattern>/MakeIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadRequiredFile</servlet-name>
        <url-pattern>/DownloadRequiredFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadRequiredFiles</servlet-name>
        <url-pattern>/DownloadRequiredFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciveSignedFile</servlet-name>
        <url-pattern>/ReciveSignedFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveSignedFile</servlet-name>
        <url-pattern>/ReceiveSignedFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCertificateValidityStatus</servlet-name>
        <url-pattern>/CheckCertificateValidityStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifySignatures</servlet-name>
        <url-pattern>/VerifySignatures</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MakeIndex</welcome-file>
    </welcome-file-list>
</web-app>
