<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Dbm</display-name>
    <distributable/>
    <!-- CONTEXT-PARAM SIRAC 2.0.2 -->
    <context-param>
        <param-name>idComune</param-name>
        <param-value>010025</param-value>
    </context-param>
    <context-param>
        <param-name>people.sirac.webservice.accreditamento.address</param-name>
        <param-value>${dbm.people.sirac.webservice.accreditamento.address}</param-value>
        <!-- <param-value>http://localhost:9080/ws_accr121/services/IAccreditamentoWS</param-value> -->
    </context-param>
    <context-param>
        <param-name>people.sirac.error.page</param-name>
        <param-value>/SiracError.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>showDetailInErrorPage</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>people.sirac.error.returnURL</param-name>
        <param-value>${dbm.people.sirac.error.returnURL}</param-value>
		 <!-- <param-value>http://localhost:9080/Dbm</param-value> -->
   <!--  <param-value>http://fossg.avmtb.rsr.rupar.puglia.it/Dbm</param-value>-->
    </context-param>
    <context-param>
        <param-name>authenticationResponseReceiverServiceTransferMode</param-name>
        <!--  Indicare FORWARD o POST -->
        <param-value>POST</param-value>
    </context-param>
    <context-param>
        <param-name>encryptAuthResponse</param-name>
        <!--  Indicare true o false -->
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>encryptAuthResponseKeyFile</param-name>
        <!--  path relativo alla webapp -->
        <param-value>/keystore/encryptAuthResponse_Rijndael_256_PBEWithSHAAnd128BitRC4_100.key</param-value>
    </context-param>
    <context-param>
        <param-name>encryptAuthResponseKeyFilePassPhrase</param-name>
        <param-value>testpassphrase</param-value>
    </context-param>
    <context-param>
        <param-name>authResponseExpirationTime</param-name>
        <!--  expiration time in msec (usato solo nel caso di TransferMode=POST)-->
        <param-value>300000</param-value>
    </context-param>
    <context-param>
        <param-name>authResponseExpirationDateTimeFormat</param-name>
        <param-value>yyyyMMdd'T'HH:mm:ss.SSSz</param-value>
    </context-param>
    <context-param>
        <param-name>ignoreAuthResponseExpirationTime</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>assertionIntendedRecipientURL</param-name>
        <param-value>${dbm.assertionIntendedRecipientURL}</param-value>
		<!-- <param-value>http://localhost:9080/Dbm/AssertionConsumerService</param-value> -->
      <!--  <param-value>http://fossg.avmtb.rsr.rupar.puglia.it/Dbm/AssertionConsumerService</param-value>-->
    </context-param>
    <!-- Utilizzato dal Sirac e dal filtro di selezione del comune -->
    <context-param>
        <param-name>peopleFSLHostURL</param-name>
        <param-value>${dbm.peopleFSLHostURL}</param-value>
		<!-- <param-value>http://localhost:9080</param-value> -->
      <!--  <param-value>http://fossg.avmtb.rsr.rupar.puglia.it</param-value>-->
    </context-param>
    <context-param>
        <param-name>weakSignEnabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>remoteSignEnabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>remoteSignMode</param-name>
        <param-value>p7m</param-value>
    </context-param>
    <context-param>
        <param-name>remoteSign_pathPrefix</param-name>
        <param-value>${dbm.remoteSign_pathPrefix}</param-value>
		 <!-- <param-value>http://localhost:9080/sirac/remotesign</param-value> -->
      <!--  <param-value>http://fossg.egov.ba.it/sirac/remotesign</param-value>-->
    </context-param>
    <!-- FINE CONTEXT-PARAM SIRAC 2.0.2 -->
    <context-param>
        <param-name>baseUrl</param-name>
		<param-value>${dbm.baseUrl}</param-value>
		<!-- <param-value>http://localhost:9080/Dbm/</param-value> -->
     <!--   <param-value>http://fossg.avmtb.rsr.rupar.puglia.it/Dbm/</param-value>-->
    </context-param>
    <!--*********************************************************************-->
    <!-- SIRAC - Filtro di caricamento del service Profile                   -->
    <!--*********************************************************************-->
    <filter>
        <filter-name>SIRAC Service Profile Loader Filter</filter-name>
        <filter-class>it.people.sirac.filters.SiracServiceProfileLoaderFilter</filter-class>
        <init-param>
            <param-name>defaultserviceprofile</param-name>
            <param-value>/it/people/defaultserviceprofile.xml</param-value>
        </init-param>
    </filter>
    <!--*********************************************************************-->
    <!-- SIRAC - Filtro di Autenticazione                                    -->
    <!--*********************************************************************-->
    <filter>
        <filter-name>SIRAC Authentication Filter</filter-name>
        <filter-class>it.people.sirac.filters.SiracAuthenticationFilter</filter-class>
        <init-param>
            <param-name>SIRACGatewayRedirectURL</param-name>
			<param-value>${dbm.SIRACGatewayRedirectURL}</param-value>
			<!-- <param-value>http://localhost:9080/sirac/AuthGatewayServlet</param-value> -->
          <!--  <param-value>http://fossg.egov.ba.it/sirac/AuthGatewayServlet</param-value>-->
        </init-param>
        <init-param>
            <param-name>assertionConsumerURL</param-name>
			 <!-- <param-value>http://localhost:9080/Dbm/AssertionConsumerService</param-value> -->
			 <param-value>${dbm.assertionConsumerURL}</param-value>
        <!--    <param-value>http://fossg.avmtb.rsr.rupar.puglia.it/Dbm/AssertionConsumerService</param-value>-->
        </init-param>
        <init-param>
            <param-name>postAuthRequestPage</param-name>
            <param-value>/PostAuthRequest.jsp</param-value>
        </init-param>
    </filter>

    <!--*********************************************************************-->
    <!-- Mapping del filtro di Autenticazione                                -->
    <!--*********************************************************************-->
    <filter-mapping>
        <filter-name>SIRAC Authentication Filter</filter-name>
        <url-pattern>/protected/*</url-pattern>
    </filter-mapping>
    <!--********************************************-->
    <!--* Definizione delle Servlet                *-->
    <!--********************************************-->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!--  SIRAC AssertionConsumerService -->
    <servlet>
        <servlet-name>AssertionConsumerService</servlet-name>
        <servlet-class>it.people.sirac.web.AssertionConsumerServlet</servlet-class>
        <init-param>
            <param-name>keystorePath</param-name>
            <!--  path relativo alla webapp -->
            <param-value>/keystore/test.jks</param-value>
        </init-param>
        <init-param>
            <param-name>certificateAlias</param-name>
            <param-value>mykey</param-value>
        </init-param>
        <init-param>
            <param-name>keystorePassword</param-name>
            <param-value>opensaml</param-value>
        </init-param>
        <init-param>
            <param-name>authenticationResponseReceiverServiceForwardURL</param-name>
            <param-value>/AuthResponseReceiverService</param-value>
        </init-param>
        <init-param>
            <param-name>authenticationResponseReceiverServicePOSTURL</param-name>
			  <param-value>${dbm.authenticationResponseReceiverServicePOSTURL}</param-value>
			  <!-- <param-value>http://localhost:9080/Dbm/AuthResponseReceiverService</param-value> -->
      <!--      <param-value>http://fossg.avmtb.rsr.rupar.puglia.it/Dbm/AuthResponseReceiverService</param-value>-->
        </init-param>
        <init-param>
            <param-name>postResponsePage</param-name>
            <param-value>/PostAuthResponse.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--
        <display-name>Authentication Response Receiver Service</display-name>
        <description>Authentication Response Receiver Service</description>
        -->
        <servlet-name>AuthResponseReceiverService</servlet-name>
        <servlet-class>it.people.sirac.web.AuthenticationResponseReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actions</servlet-name>
        <servlet-class>it.people.dbm.pages.actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiEsistenza</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiEsistenza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserisci</servlet-name>
        <servlet-class>it.people.dbm.pages.inserisci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancella</servlet-name>
        <servlet-class>it.people.dbm.pages.cancella</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aggiorna</servlet-name>
        <servlet-class>it.people.dbm.pages.aggiorna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>popUp</servlet-name>
        <servlet-class>it.people.dbm.pages.popUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiSessione</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiSessione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestisciCampoSelectSession</servlet-name>
        <servlet-class>it.people.dbm.pages.gestisciCampoSelectSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionsGerarchia</servlet-name>
        <servlet-class>it.people.dbm.pages.actionsGerarchia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiRamo</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiRamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScaricaFile</servlet-name>
        <servlet-class>it.people.dbm.pages.ScaricaFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserisciMultipart</servlet-name>
        <servlet-class>it.people.dbm.pages.inserisciMultipart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aggiornaMultipart</servlet-name>
        <servlet-class>it.people.dbm.pages.aggiornaMultipart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancellaMultipart</servlet-name>
        <servlet-class>it.people.dbm.pages.cancellaMultipart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaRTF</servlet-name>
        <servlet-class>it.people.dbm.pages.creaRTF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oneriComuni</servlet-name>
        <servlet-class>it.people.dbm.pages.oneriComuni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registraSessione</servlet-name>
        <servlet-class>it.people.dbm.pages.registraSessione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeggiSessione</servlet-name>
        <servlet-class>it.people.dbm.model.LeggiSessione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDocument</servlet-name>
        <servlet-class>it.people.dbm.pages.uploadDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiNotifica</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiNotifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiRecord</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leggiHelpOnLine</servlet-name>
        <servlet-class>it.people.dbm.pages.leggiHelpOnLine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>duplicazioneInterventi</servlet-name>
        <servlet-class>it.people.dbm.pages.duplicazioneInterventi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scriviNotifica</servlet-name>
        <servlet-class>it.people.dbm.pages.scriviNotifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mappatura</servlet-name>
        <servlet-class>it.people.dbm.pages.mappatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salvaInSessione</servlet-name>
        <servlet-class>it.people.dbm.pages.salvaInSessione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEsistenza</servlet-name>
        <servlet-class>it.people.dbm.pages.checkEsistenza</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthResponseReceiverService</servlet-name>
        <url-pattern>/AuthResponseReceiverService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssertionConsumerService</servlet-name>
        <url-pattern>/AssertionConsumerService</url-pattern>
    </servlet-mapping>
    <!-- servlet applicative -->
    <servlet>
        <servlet-name>pulisciSession</servlet-name>
        <servlet-class>it.people.dbm.pages.pulisciSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pulisciSession</servlet-name>
        <url-pattern>/protected/pulisciSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>actions_CCD</servlet-name>
        <servlet-class>it.people.dbm.pages.actions_CCD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDocument_CCD</servlet-name>
        <servlet-class>it.people.dbm.pages.uploadDocument_CCD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actions_CCD</servlet-name>
        <url-pattern>/protected/actions_CCD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDocument_CCD</servlet-name>
        <url-pattern>/protected/uploadDocumentccd</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>uploadDocument</servlet-name>
        <url-pattern>/protected/uploadDocument</url-pattern>
    </servlet-mapping> -->

    <!-- *************************************************** -->
    <!-- quartz -->
    <!-- *************************************************** -->
    <!--
    <servlet>
        <servlet-name>QuartzInitializer</servlet-name>
        <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->
    <!-- *************************************************** -->
    <!-- Gestione Eccezioni                               -->
    <!-- *************************************************** -->
    <error-page>
        <exception-type>it.people.sirac.error.SiracException</exception-type>
        <location>/SiracError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/SiracError.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
            <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/xml</taglib-uri>
            <taglib-location>/WEB-INF/x.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/xml_rt</taglib-uri>
            <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
            <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
    <servlet-mapping>
        <servlet-name>actions</servlet-name>
        <url-pattern>/protected/actions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiEsistenza</servlet-name>
        <url-pattern>/protected/leggiEsistenza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserisci</servlet-name>
        <url-pattern>/protected/inserisci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancella</servlet-name>
        <url-pattern>/protected/cancella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aggiorna</servlet-name>
        <url-pattern>/protected/aggiorna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>popUp</servlet-name>
        <url-pattern>/protected/popUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiSessione</servlet-name>
        <url-pattern>/protected/leggiSessione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestisciCampoSelectSession</servlet-name>
        <url-pattern>/protected/gestisciCampoSelectSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionsGerarchia</servlet-name>
        <url-pattern>/protected/actionsGerarchia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiRamo</servlet-name>
        <url-pattern>/protected/leggiRamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScaricaFile</servlet-name>
        <url-pattern>/protected/ScaricaFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserisciMultipart</servlet-name>
        <url-pattern>/protected/inserisciMultipart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aggiornaMultipart</servlet-name>
        <url-pattern>/protected/aggiornaMultipart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancellaMultipart</servlet-name>
        <url-pattern>/protected/cancellaMultipart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaRTF</servlet-name>
        <url-pattern>/protected/StampaScheda/creaRTF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oneriComuni</servlet-name>
        <url-pattern>/protected/oneriComuni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registraSessione</servlet-name>
        <url-pattern>/protected/registraSessione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeggiSessione</servlet-name>
        <url-pattern>/LeggiSessione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDocument</servlet-name>
        <url-pattern>/protected/uploadDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiRecord</servlet-name>
        <url-pattern>/protected/leggiRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiNotifica</servlet-name>
        <url-pattern>/protected/leggiNotifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leggiHelpOnLine</servlet-name>
        <url-pattern>/protected/leggiHelpOnLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>duplicazioneInterventi</servlet-name>
        <url-pattern>/protected/duplicazioneInterventi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scriviNotifica</servlet-name>
        <url-pattern>/protected/scriviNotifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mappatura</servlet-name>
        <url-pattern>/protected/mappatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salvaInSessione</servlet-name>
        <url-pattern>/protected/salvaInSessione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEsistenza</servlet-name>
        <url-pattern>/protected/checkEsistenza</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
