div.jQueryMsgBox
{
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 1000;
    font-family:Verdana;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    background-image: url('../img/jQuery/msgBoxBackGround.png');
}
div.jQueryMsgBoxBackGround
{
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#EBEBEB;
    opacity:0.3;
    z-index:999;
}
div.jQueryMsgBoxTitle
{
    padding:5px 0 5px 0;
    font-variant:small-caps;
    font-size:16pt;
    font-weight:lighter;
    color:#00335e;
    width:100%;
    border-bottom : 1px solid #002c5f;
}
div.jQueryMsgBoxImage
{
    margin:5px 0px 5px 5px;
    display:inline-block;
    float:left;
}
div.jQueryMsgBoxImage img
{
}
div.jQueryMsgBoxContent
{
    font-size:9pt;
    margin:12px 3px 12px 3px;
    display:inline-block;
    float:left;
    height:30px;
    width:319px;
}
div.jQueryMsgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.jQueryMsgBoxContent span 
{
    display: table-cell;
    vertical-align: bottom;
    color: #00335e;
}

div.jQueryMsgBoxButtons
{
    display:inline-block;
    width:100%;
    text-align:right;
}
div.jQueryMsgBoxButtons input[type='button']
{
    cursor:pointer;
    margin:2px;
    height:35px;
    width:90px;
    border:1px solid #AFAFAF;
    background-color:#004076;
    color:#FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
div.jQueryMsgBoxButtons input[type='button']:hover
{
    background-color:#00549c;
    color:White;
}
div.jQueryMsgBoxButtons input[type='button']:active
{
    background-color:#AAAAAA;
    color:White;
}

div.jQueryMsgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}
div.jQueryMsgInput input[type='text'],div.jQueryMsgInput input[type='password']
{
    padding:4px;
    border:1px solid #DFDFDF;
    color:#2f2f2f;
    width:180px;
}
div.jQueryMsgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}
