<?xml version="1.0" encoding="UTF-8"?>

<servizio>
    <nome>Servizio Test Stato Attivita</nome>
    <attivita>test</attivita>
    <sottoattivita>cedaf</sottoattivita>
    <process>it.people.process.GenericProcess</process>
    <package>it.people.fsl.servizi.test.cedaf.statoattivita</package>
    <references name="SUBMIT_PROCESS" value="Prova" shortflag="0" address="UNDEFINED" />
    <context-element name="Test Stato Attività" />
</servizio>